a.skip {
  background: #36518f;
  background: -moz-linear-gradient(top, #8c9cbf 0%, #546a9e 50%, #36518f 50%, #3d5691 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #8c9cbf), color-stop(0.5, #546a9e), color-stop(0.5, #36518f), color-stop(1, #3d5691));
  border: 1px solid #172d6e;
  border-bottom: 1px solid #0e1d45;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0 1px 0 0 #b1b9cb;
  -webkit-box-shadow: inset 0 1px 0 0 #b1b9cb;
  box-shadow: inset 0 1px 0 0 #b1b9cb;
  color: #fff;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 7px 0 8px 0;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 -1px 1px #000f4d;
  width: 150px;
}

a.skip:hover {
  background: #2f477d;
  background: -moz-linear-gradient(top, #7f8dad 0%, #4a5e8c 50%, #2f477d 50%, #364c80 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #7f8dad), color-stop(0.5, #4a5e8c), color-stop(0.5, #2f477d), color-stop(1, #364c80));
  cursor: pointer;
}

a.skip:active {
  -moz-box-shadow: inset 0 0 20px 0 #1d2845, 0 1px 0 #fff;
  -webkit-box-shadow: inset 0 0 20px 0 #1d2845, 0 1px 0 #fff;
  box-shadow: inset 0 0 20px 0 #1d2845, 0 1px 0 #fff;
  cursor: pointer;
}


.combobox {
	background: white url('combo.gif')
	no-repeat top right;
}
.busy {
	background: transparent url('loader.gif')
	no-repeat top right;
}
.dbweb_sort_down {
	background: white url('sort_asc.png')
	no-repeat top right;
}
.dbweb_sort_up {
	background: white url('sort_desc.png')
	no-repeat top right;
}

div.menu {
	position: absolute;
	top: 0;
	left: 0;
	font-family: arial;
}
div.menu a {
	display: block;
	text-decoration: none;
	cursor: default;
	outline: none;
}
.menu .separator {
	height: 1px;
	padding: 0;
	overflow: hidden;
	display: block;
	font-size: 1px;
}
.menu ul, .menu li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu li {
	list-style-position: outside;
}
.menu.desktop {
	width: 14em;
	background: #f9f8f7;
	border: 1px solid #999;
	padding: 0;
}
.menu.desktop ul, .menu.desktop li {
	margin: 0;
	padding: 0;
}
.menu.desktop li.separator {
	height: 1px;
}
.menu.desktop a {
	color: #555;
	padding: 3px 0 3px 25px;
	margin: 0;
	border: 1px solid #f9f8f7;
}
.menu.desktop a.disabled {
	opacity: 0.25;
	filter: alpha(opacity=25);
	zoom: 1;
}
.menu.desktop li.separator {
	border-bottom: 1px solid #fff;
	background: #aaa;
	margin: 1px 1px 0 1px;
	line-height: 1px !important;
}

/* we need explicit enabled class to overcome css deficiences (without creating unnecessary markup) */
.menu.desktop a.enabled:hover {
	background-color: #0A246A;
	color: #fff;
}

div.autocomplete {	position:absolute;	width:250px;	background-color:white;	border:1px solid #888;	margin:0px;	padding:0px;}div.autocomplete ul {	list-style-type: none;	margin:0px;	padding:0px;	overflow:visible;
	font-size:75%;
}div.autocomplete ul li.selected { background-color: #ffb;}div.autocomplete ul li {	list-style-type: none;	display:block;	margin:0;	padding:2px;}


.controlicon {
	width: 16px;
	height: 16px;
	float: right;
	position: relative;
}
.datatable {
	font-family: arial;
	font-size: 90%;
	color: #360;
	-moz-box-shadow: rgba(0,0,0, 0.1) 2px 2px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 2px 2px 8px;
	border: 1px solid #c4ffbe;
}
.selectedRow {
	background: #337733;
	background: -webkit-gradient(linear, left top, left 25, from(#66aa66), to(#337733));
	background: -moz-linear-gradient(-45deg, #337733,#559955);
	-moz-border-radius:4px;
	border-radius:4px;
	padding:1px;
	-webkit-border-radius:4px;
	color: #ffffff !important;
	-moz-box-shadow: rgba(0,0,0, 0.2) 2px 2px 4px;
	-webkit-box-shadow: rgba(0,0,0, 0.2) 2px 2px 4px;
}

.datatable th {
	color: #360;
	font-weight: bold;
	background-color: #eeffee;
}
.datatable td {
	background-color: #ddffdd;
}
.datatable caption {
	padding: 3px;
	margin:0px;
	font-weight: bold;
	color: #ffffff;
	background-color: #77bb77;
	background: -webkit-gradient(linear, left top, left 25, from(#77bb77), to(#448844));
	background: -moz-linear-gradient(-45deg, #448844,#77bb77);
	-moz-box-shadow: rgba(0,0,0, 0.1) 2px 2px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 2px 2px 8px;
	-moz-border-radius-topleft:8px;
	-moz-border-radius-topright:8px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	-webkit-border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
}

.datatable a {
	color: #360;
	text-decoration: none;
	padding:1px;
	margin: 0px;
}

.datatable .insertvar {
	background-color: #c4ffbe;
}

form {
	padding: 1;
    margin:0px;
}

fieldset {
	font-family: arial;
	background-color: #c4ffbe;
	padding: 10px;
	margin:0px;
	position: relative;
	border:none;
	box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-moz-border-radius-bottomleft:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-left-radius:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-webkit-border-bottom-right-radius:8px;
}
.dataform {
	background-color: #c4ffbe;
	padding: 5px;
	position: relative;
	border:none;
}
.dataform2 {
	background-color: #c4ffbe;
	padding: 5px;
	position: relative;
	border:none;
}
.dataform_caption {
	font-family: arial;
	padding: 4px;
	margin-left:1px;
	margin-right:1px;
	margin-bottom:-1px;
	font-weight: bold;
	color: #ffffff;
	background-color: #77bb77;
	font-size: 80%;
	text-align: center;
	-moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	-webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
	background: -webkit-gradient(linear, left top, left 25, from(#77bb77), to(#448844));
	background: -moz-linear-gradient(-45deg, #448844,#77bb77);
	-moz-border-radius-topleft:8px;
	-moz-border-radius-topright:8px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	-webkit-border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
}

legend {
	font: sans-serif;
	font-weight: bold;
	color: #360;
	margin: 0 0 0 -1px;
	padding: .2em .5em;
	display: block;
	float: right;
}

label {
	display: block;
	margin: 5px 0 0 0;
	font-size: 80%;
	color: #360;
}

div.errortooltipp {
	display:block;
	border: 2px solid #FA4F00;
	padding:2px;
	background-color: #FFA8A8;
	color: #FA0000;
	font: 11px Arial, Helvetica, sans-serif;
}

div.successtooltipp {
	display:block;
	border: 2px solid #006D18;
	padding:2px;
	background-color: #29FF2D;
	color: #006D18;
	font: 11px Arial, Helvetica, sans-serif;
}

div.progressbar_holder{ border: 1px solid #aaa;
	width: 100px;
	display: none;}
div.progressbar{ background: #f00;
	width: 0;
	font-size: 1px;
	line-height: 10px;}

